
Project/.idea/shelf/Uncommitted_changes_before_Checkout_at_10_21_24__5_46PM__Changes_1.xml
*.lock
Project/.idea/shelf/Uncommitted_changes_before_Checkout_at_10_21_24__5_46PM__Changes_1.xml
*.xml
/Project/.idea/shelf
