*.iml
.gradle/
/local.properties
/.idea/caches
/.idea/libraries
/.idea/modules.xml
/.idea/workspace.xml
/.idea/navEditor.xml
.gradle/8.2/fileHashes/fileHashes.lock
.idea/deploymentTargetSelector.xml
.idea/misc.xml
.idea/shelf/Uncommitted_changes_before_Checkout_at_10_4_2024_4_38_PM_[Changes]/fileHashes.lock
.idea/shelf/Uncommitted_changes_before_Checkout_at_10_4_2024_4_38_PM_[Changes]/shelved.patch
.idea/shelf/Uncommitted_changes_before_Checkout_at_10_4_2024_4_38_PM__Changes_.xml
.idea/shelf/Uncommitted_changes_before_Update_at_2024_10_3__03_04__Changes_.xml
.idea/shelf/Uncommitted_changes_before_Update_at_2024_10_3__03_04__Changes_1.xml
/.idea/assetWizardSettings.xml
.DS_Store
/build
/captures
.externalNativeBuild
.cxx
local.properties

#IntelliJ
*.iml
.idea/
misc.xml
deploymentTargetDropDown.xml
google-services.json